@import "compass/reset";
$primaryFont: Lato, sans-serif;
$headerFont: Ubuntu, sans-serif;
$primaryColor: #4D5656; //dark gray
$secondaryColor: #5D6D7E; //dark grayy-blue
$tertiaryColor: #E5E7E9; //light gray
$quaternaryColor: #F5B041; //saturated yellow
$quinaryColor: #FCF3CF; //pale yellow
